*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
    font-family: "Roboto", sans-serif;
}

.wrap{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.wrap-menu {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px #00000073 solid;
}

nav{
    padding: 20px 0;
    background: #ffffff;
}

.menu-ul{
    display: flex;
}

.menu-li{
    margin-right: 20px;
    font-size: 17px;
    font-weight: 500;
}.menu-li:last-child{
    margin-right: 0;
}
.menu-li>a{
    transition: all .3s ease-in-out;
}.menu-li>a:hover{
    color: 	#C41230;
}


/*====================FAQ=====================*/

summary{
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

details{
    width: 100%;
    background-color:#F5D4B7;
    padding: 20px 10px;
    margin-bottom: 30px;
}details>p{
    padding: 20px 0px;  
}

.floats{
    padding: 20px 0px;
}

.float-left{
    float: left;
    color: green;
}


.float-right{
    float: right;
    color: red;
}

/*====================Login-Form===================*/


.login {
  margin: 20px auto;
  padding: 40px 50px;
  max-width: 300px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 1px #666;
}
  .login input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 16px;
    border-radius: 2px; 
    font-family: Raleway, sans-serif;
  }

.login input[type=text],
.login input[type=password] {
    border: 1px solid #c0c0c0;
    transition: .2s;
}

.login input[type=text]:hover {
    border-color: #F44336;
    outline: none;
    transition: all .2s ease-in-out;
} 

.login input[type=submit] {
    border: none;
    background: #EF5350;
    color: white;
    font-weight: bold;  
    transition: 0.2s;
    margin: 20px 0px;
}

.login input[type=submit]:hover {
    background: #F44336;  
}

.login h2 {
    margin: 20px 0 0; 
    color: #EF5350;
    font-size: 28px;
}

.login p {
  margin-bottom: 40px;
}

.login h2,
.login p,
.login a {
    text-align: center;    
}

.login a {
  text-decoration: none;  
  font-size: .8em;
}

.login a:hover {
  text-decoration: underline;
}

.header-layout{
    width: 100%;
    height: 100px;
    background: #1cec50;
    text-align: center;
    border: 1px solid #000;
    border-bottom: none;
}

.main-layout{
    display: flex;
    height: 300px;
    border: 1px solid #000;
}

.aside-layout{
    background: #e2d02b;
    flex: 1;
    border-right: 1px solid #000;
}

.blocks-layout{
    display: block;
    flex: 2;
}

.blocks-layout>div{
    height: 50%;
}

.layout-first{
    background: #da2d2d;
    border-bottom: 1px solid #000;
}

.layout-second{
    background: #F44336;
}

.footer-layout{
    height: 100px;
    text-align: center;
    background-color: #6d50ef;
    border: 1px solid #000;
    border-top: none;
}


@keyframes myAnimation {
  0%   {color: red;}
  25%  {color: rgb(255, 94, 1);}
  50%  {color: blue;}
  100% {color: green;}
}

.animated-txt{
    cursor: pointer;
    transition: .5s ease-in-out all;
    width: 220px;
    background-color: white;
    text-align: center;
    margin-top:20px;
}

.animated-txt:hover{
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.lamp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lamp>button{
    width: 200px;
    height: 50px;
    border-radius:50px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    border: none;
    background-color: #c0c0c0;
    transition: .2s all ease-in-out;
}

.lamp>button:hover{
    background-color: #f0ff21;
}


@media (max-width:500px) {
    .media-text{
        color: #C41230;
    }
}